<div class="container container_grey emphasize-dark curved_border">
<div class="row-fluid col-md-offset-1 col-md-5">

	<p class="font_trebuchet_blk_25">Vent that fury right here all the badness turns to niceness!!</p>
<%= form_tag "/validate" do %>
<%= text_field_tag :search_string %>
<%= submit_tag "Search" %>
<% end %>

</div>
</div>