<div class="container container_grey curved_border emphasize-dark">
<div class="row-fluid col-md-offset-1 col-md-5">

<% if current_user and current_user.admin %>
	<p class="font_trebuchet_blk_20">New Cart</p>

<%= render 'form' %>

<%= link_to 'Back', carts_path %>

<% end %>

</div>
</div>
