<div class="jumbotron curved_border emphasize-dark" style="background-color:#EEEE00;margin-top:-10px;">
  <div class="row " style="margin-left:130px;margin-top:0px;">
<br><br>
     <p class="font_trebuchet_colour_70" style="margin-top:0px;">Need ideas for your Photos?</p><br>
      <p class="font_trebuchet_colour_70" style="margin-top:-50px;">Want some crazy Photo inspirings?</p><br>
           

          <div class="row-fluid" style="margin-top:-10px;">

            <div class="col-md-12" style="margin-left:0px;">
             <p class="font_trebuchet_colour_30" style="margin-top:10px;">Create great photos with
              some <span class="font_trebuchet_colour2_30"> Random <span class="font_trebuchet_colour_30">&amp;</span> Quirky <span class="font_trebuchet_colour_30">&amp;</span>  Say What?</span> challenges!</p>
         
              <p class="font_trebuchet_colour_30" style="margin-top:30px;margin-bottom:30px;">Let <span class="font_trebuchet_colour2_30">Snappo!</span> set off your idea 
                <span class="font_trebuchet_colour2_30">sparks!</span> </p> <br><br>          
          </div><!--col-md-12 --> 

        </div><!--row-fluid--> 


    </div><!--row--> 
</div><!--jumbotron curved_border emphasize-dark--> 


<div class="container container_grey curved_border emphasize-dark" style="margin-top:-20px;">


    <div class="text-center font_trebuchet_70" style="margin-top:0px;">Here's How! 
    </div><!--row--> 

 <div class="row-fluid">

    <div class="span4" style="margin-top:0px;">
        <div class="col-md-4 text-center font_trebuchet_blk_20" style="margin-top:20px;">Take a Challenge 
        <hr class="style-two"> </div>
        <div class="step1" style="margin-left:70px;"></div>
        <div class="col-md-4 text-center font_trebuchet_blk_15"> Signup is easy!<br>Login &amp; take a challenge<br>Try some or even all of its tasks</div>
        <hr class="style-two">
    </div>

    <div class="span4" style="margin-top:0px;">
        <div class="col-md-4 text-center font_trebuchet_blk_20" style="margin-top:20px;">Upload a Photo!
          <hr class="style-two"></div>
        <div class="step2" style="margin-left:70px;"></div>
        <div class="col-md-4 text-center font_trebuchet_blk_15">When you're ready<br>Login to your profile <br>to upload your photo</div>
        <hr class="style-two">
    </div>

    <div class="span4" style="margin-top:0px;">
       <div class="col-md-4 text-center font_trebuchet_blk_20" style="margin-top:20px;">Vote on others!
        <hr class="style-two"></div>
       <div class="step3" style="margin-left:70px;"></div>
        <div class="col-md-4 text-center font_trebuchet_blk_15">Vote on other photos<br> Checkout out the Gallery<br>&amp; join the Forum</div>
        <hr class="style-two">
     </div>

</div><!--row-fluid--> 



 <div class="row-fluid"> 
    <p class="font_trebuchet_70 text-center" style="margin-top:20px;">What is a Challenge?</p>

     <div class="span6" style="margin-top:0px;">
          <p class="col-md-6 font_trebuchet_blk_25 text-center" style="margin-top:20px;">Random tasks you can try out..</p>
          <p class="font_trebuchet_blk_25 text-center" style="margin-top:20px;">See how a few are used here</p>
          <div class="challenge_example" style="margin-top:30px;"></div>
     </div><!--rspan6--> 

         <div class="row-fluid col-md-6"> 
        <p class="font_trebuchet_blk_25 text-center" style="margin-top:20px;">..and Result!</p>
            <div style="padding:10px;margin-top:30px;"><img src ="/system/avatars/original/IMG_3983.jpg?1386604661" class="img-rounded emphasize-dark "></div>
        </div><!--row-fluid col-md-6--> 

  </div><!--row-fluid--> 


<div class="row-fluid col-md-12"> 
    <div class="text-center" style="margin-top:20px;">
      <hr class="style-two">
    </div>

  <div class="text-center font_trebuchet_blk_30" style="margin-top:30px;">These Photos were created with Snappo! challenges</div>


  <div class="row-fluid"> 

      <div class="span4 text-center font_trebuchet_blk_20" style="margin-top:50px;">Hover to see the tasks</div>
      <div class="span4 text-center font_trebuchet_blk_20" style="margin-top:50px;">Which tasks were tried out?</div>
      <div class="span4" style="margin-top:40px;padding-left:40px">
     <%= button_to("Take a Challenge!", challenges_make_one_path, class: "btn btn-inverse font_century_blk_30", style: "font-size:23pt;padding: 18px 28px;")%>
      </div>

  </div>     


<div class="row-fluid"> 

    <div class="text-center" style="margin-top:0px;">
      <hr class="style-two">
    </div>

</div>  

<div class="container" style="margin-left:20px;"> 
  <div class="row" style="margin-left:30px;"> 
          <% @orders.sample(12).each do |order| %>       
           
              <div class="span4 text-center thumbnail_dark" style="margin-left:0px">              
                <div class="text-center">
                      <!-- from line below removed the @ at @order to make avatar show-->
                        <%= image_tag order.avatar.url(:medium), class:"img-rounded" %>
                        <div class="details_container">
                                <div id="" class="details">
                                <%= render(order.line_items.to_a)%>
                                </div><!--details--> 
                        </div><!--details_container--> 
                </div><!--thumbnail_green curved_border--> 
                <% end %>
              </div><!--col-md-4 text-center--> 
     </div><!--row-fluid-->      
      </div><!--row-fluid-->   




</div><!--container-->

<!--<script>
// $(".details_container").hover(
//   function() { $(this).children(".details").fadeIn(500) },
//   function() { $(this).children(".details").fadeOut(500); }
// );
</script>-->