<div class="container container_grey curved_border emphasize-dark">


<div class="row-fluid container_grey curved_border" style="margin-top:-30px;">
        <div class="span7 text-center">
    
    <script type="text/javascript">

var challenger =  [
                    { "title" : "Music",
                    "caption"  : "My nose is running",
                    "homage_url"  : "american_gothic.jpg",
                    "colour"  : "Red",
                    "location" : "Kitchen",
                    "theme"       : "Educational",
                    "timescale": "1 minute" },

                     { "title" : "Hair",
                    "caption"  : "Investments may go up as well as down",
                    "homage_url"  : "babylon.jpg",
                    "colour"  : "Orange",
                    "location" : "Sitting Room",
                    "theme"       : "Weather",
                    "timescale": "5 minutes" },

                    { "title" : "Cats",
                    "caption"  : "Our customers always come first",
                    "homage_url"  : "bacon1.jpg",
                    "colour"  : "Yellow",
                    "location" : "Stairs",
                    "theme"       : "Experimental",
                    "timescale": "10 minutes" },

                     { "title" : "Dogs",
                    "caption"  : "Now that's a weird fortune cookie",
                    "homage_url"  : "beeker_scream!.jpg",
                    "colour"  : "Blue",
                    "location" : "Lift",
                    "theme"       : "Family",
                    "timescale": "15 minutes" },

                     { "title" : "Birds",
                    "caption"  : "Real men don't use mobile phones",
                    "homage_url"  : "Caravaggio2.jpg",
                    "colour"  : "Brown",
                    "location" : "Basement",
                    "theme"       : "Psychedelic",
                    "timescale": "27 minutes" },

                     { "title" : "Swimming",
                    "caption"  : "Hop along Cassidy",
                    "homage_url"  : "caravaggio1.jpg",
                    "colour"  : "Green",
                    "location" : "Cellar",
                    "theme"       : "Wet",
                    "timescale": "45 minutes" },

                     { "title" : "Robo Cop",
                    "caption"  : "Ooh! Aah! Ooh! Aah! Aah! Ooh!",
                    "homage_url"  : "cat_circus.jpg",
                    "colour"  : "Acid Green",
                    "location" : "Porch",
                    "theme"       : "Dry",
                    "timescale": "50 minutes" },

                     { "title" : "Special Equations",
                    "caption"  : "Where's the remote?",
                    "homage_url"  : "circus_50s1.jpg",
                    "colour"  : "Violet",
                    "location" : "Driveway",
                    "theme"       : "Painful",
                    "timescale": "60 minutes" },

                     { "title" : "A night on the tiles",
                    "caption"  : "Whisk slowly until stiff",
                    "homage_url"  : "circus_50s2.jpg",
                    "colour"  : "Almond",
                    "location" : "Field",
                    "theme"       : "Happiness",
                    "timescale": "1 hour" },

                     { "title" : "Timber!!!!",
                    "caption"  : "Well then it's unanimous!",
                    "homage_url"  : "crazycatart.jpg",
                    "colour"  : "Amber",
                    "location" : "Doorway",
                    "theme"       : "Sadness",
                    "timescale": "2 hours" },

                     { "title" : "Ready for work!",
                    "caption"  : "You think this is weird?",
                    "homage_url"  : "dali1.jpg",
                    "colour"  : "Rose",
                    "location" : "Closet",
                    "theme"       : "Gloom",
                    "timescale": "3 hours" },

                     { "title" : "Karma karma karma chameleon",
                    "caption"  : "You call that art?",
                    "homage_url"  : "davinci1.jpg",
                    "colour"  : "Purple",
                    "location" : "Cupboard",
                    "theme"       : "Musical",
                    "timescale": "4 hours" },

                     { "title" : "Worst Photo ever",
                    "caption"  : "This suit looked way better in the shop!",
                    "homage_url"  : "davinci2.jpg",
                    "colour"  : "Navy",
                    "location" : "Dollshouse",
                    "theme"       : "German",
                    "timescale": "10 hours" },

                     { "title" : "LOL kat",
                    "caption"  : "There goes the neighbourhood",
                    "homage_url"  : "davinci3.jpg",
                    "colour"  : "White",
                    "location" : "House",
                    "theme"       : "French",
                    "timescale": "15 hours" },

                     { "title" : "Sneaking in sneakers",
                    "caption"  : "Halftime already?",
                    "homage_url"  : "GnG1.jpg",
                    "colour"  : "Black",
                    "location" : "Shed",
                    "theme"       : "English",
                    "timescale": "24 hours" },];
                

</script>     

 <p class="font_trebuchet_blk_20"> Titles</p>
   <hr class="style-two">
  <script type="text/javascript">        
    function title_challenger ()  {
    for(var i = 0; i < challenger.length; i++) 
        document.writeln(challenger[i].title + "<br>"); 
    };

    title_challenger();
  </script>   </p>
  <br />

  </div>

 <div class="span5 curved_border dark_grey_box_padding emphasize-dark text-center top-padding-80">
       <p class="font_trebuchet_blk_25" style="margin-top:-40px;">Glance over <br>what Snappo! <br>can throw at you!</p>
           <hr class="style-two">
    <p class="font_trebuchet_blk_20"><a href="titles.html">Titles</a></p>
     <hr class="style-two">
  <p class="font_trebuchet_blk_20"><a href="captions.html"> Captions</a></p>
    <hr class="style-two">
  <p class="font_trebuchet_blk_20"><a href="locations.html"> Locations</a></p>
    <hr class="style-two">
<p class="font_trebuchet_blk_20"><a href="themes.html"> Themes</a></p>
  <hr class="style-two">
     <p class="font_trebuchet_blk_25" style="margin-top:50px;">Interested?</p><br><br>
     <p><%= button_to("Take a Challenge!", challenges_make_one_path, class: "btn btn-inverse btn-lg", style: "font-size:30pt;margin-top:-40px;") %></p><br>
      </div>
   


</div><!--row-fluid-->    
</div><!--container container_yellow-->


