<div class="container container_grey curved_border emphasize-dark">
<div class="row-fluid col-md-offset-1 col-md-11">
 <% if current_user and current_user.admin %>

	<p class="font_trebuchet_blk_20">Editing line_item</p>

<%= render 'form' %>

<%= link_to 'Show', @line_item %> |
<%= link_to 'Back', line_items_path %>


<% end %>

</div>
</div>

