<div class="container container_grey curved_border emphasize-dark">
<div class="row-fluid">
 <hr class="style-two">
<div id="lightbox" style="margin-top:50px;">
<div class="wt-scroller">
        <div class="prev-btn"></div>          
      <div class="slides">
            <ul>
              <li>
                  <a href="/system/avatars/original/IMG_2300.jpg?1386606227" rel="scroller"><img src="/system/avatars/medium/IMG_2300.jpg?1386606227" alt="" style="margin-top:50px;margin-left:50px;"/></a> 
                 <p>Caption: You call that art?<br>Colour: Purple</p>
              </li>
              <li>
                  <a href="/system/avatars/original/100_3309.jpg?1386606017" rel="scroller"><img src="/system/avatars/original/100_3309.jpg?1386606017" alt="" style="margin-top:50px;margin-left:50px;"/></a>  
                  <p>Colour: Beige<br>Location: Balcony<br>Theme: American<br>Timescale: 48 hours</p>
              </li>
              <li>                    
                  <a href="/system/avatars/original/IMG_3983.jpg?1386604661" rel="scroller"><img src="/system/avatars/original/IMG_3983.jpg?1386604661" alt="" style="margin-top:50px;margin-left:50px;"/></a>  
                  <p>Colour: Bone<br>Location: School<br>Theme: Blurred<br>Timescale: 40 minutes</p>               
              </li>     
              <li>
                  <a href="/system/avatars/original/IMG_1005.jpg?1386605650" rel="scroller"><img src="/system/avatars/original/IMG_1005.jpg?1386605650" alt="" style="margin-top:50px;margin-left:50px;"/></a> 
                  <p>Caption: Three legged races are so not a challenge.<br>Timescale: 2 weeks</p>
              </li>
              <li>
                  <a href="/system/avatars/original/IMG_2535.jpg?1386604866" rel="scroller"><img src="/system/avatars/original/IMG_2535.jpg?1386604866" alt="" style="margin-top:50px;margin-left:50px;"/></a>  
                  <p>Colour: Gold<br>Location: Cinema<br>Timescale: 1 minute</p>   
              </li>
              <li>                    
                  <a href="/system/avatars/original/IMG_3470.jpg?1386605730" rel="scroller"><img src="/system/avatars/original/IMG_3470.jpg?1386605730" alt="" style="margin-top:50px;margin-left:50px;"/></a>  
                  <p>Location: Harbour<br>Theme: Historical<br>Timescale: 5 hours</p>              
              </li> 
                            <li>
                  <a href="/system/avatars/original/IMG_8055.jpg?1386606610" rel="scroller"><img src="/system/avatars/original/IMG_8055.jpg?1386606610" alt="" style="margin-top:50px;margin-left:50px;"/></a> 
                 <p>Caption: Well then it's unanimous!<br>Theme: Sadness<br>Timescale: 2 hours</p> 
              </li>
              <li>
                  <a href="/system/avatars/original/IMG_1237.jpg?1386605786" rel="scroller"><img src="/system/avatars/original/IMG_1237.jpg?1386605786" alt="" style="margin-top:50px;margin-left:50px;"/></a>  
                  <p>Title: Worst Photo ever<br>Theme: German <br>Caption: This suit looked way better in the shop!<br> Timescale: 10 hours</p>
              </li>
              <li>                    
                  <a href="/system/avatars/original/IMG_1126.jpg?1386605441" rel="scroller"><img src="/system/avatars/original/IMG_1126.jpg?1386605441" alt="" style="margin-top:50px;margin-left:50px;"/></a>  
                  <p>Colour: Primrose Yellow<br>Theme: Japanese<br>Timescale: 1 week</p>                
              </li>   
                <li>                    
                  <a href="/system/avatars/original/IMG_8185.jpg?1386606589" rel="scroller"><img src="/system/avatars/original/IMG_8185.jpg?1386606589" alt="" style="margin-top:50px;margin-left:50px;"/></a>  
                  <p>Location: Car<br>Theme: Spanish<br>Timescale: 12 hours</p>                
              </li>     
                <li>                    
                  <a href="/system/avatars/original/IMG_0912.jpg?1386605982" rel="scroller"><img src="/system/avatars/original/IMG_0912.jpg?1386605982" alt="" style="margin-top:50px;margin-left:50px;"/></a>  
                  <p>Caption: My nose is running<br>Colour: Red<br>Theme: Educational<br>Timescale: 1 minute</p>                 
              </li>      
            </ul>
        </div> <!--slides-->         
      <div class="next-btn"></div>
        <div class="lower-panel"></div>
  </div><!--class="wt-scroller"--> 
</div><!--lightbox--> 

<div class="row"  style="margin-top:50px;">
  <hr class="style-two">
<p class="font_trebuchet_blk_30 text-center" style="margin-top:30px;">Great work Snappo! friends </p>
</div>



</div>
</div>




