<div class="container container_grey curved_border emphasize-dark">
<div class="row-fluid col-md-offset-1 col-md-11">

	<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_lightbox_path(@lightbox) %> |
<%= link_to 'Back', lightboxes_path %>

</div>
</div>
